body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

.container {
  width: 90%;
  margin: auto;
}

.about,
.courses,
.contact {
  padding-top: 120px;
}

